<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="collectionDirPath" value="D:/postman/collection/" />
    <add key="environmentDirPath" value="D:/postman/environment/" />
    <add key="collectionFileName" value="WGH_collection.json" />
    <add key="environmentFileName" value="WGH_environment.json" />
    <add key="resultDirPath" value="D:/postman/result/" />
    <add key="logDirPath" value="D:/postman/log/" />
    
    <add key="lastCreateReportDateTime" value="2021/05/31"/>
    <add key="weeklyReportDirPath" value ="D:/postman/weeklyReport"/>

    <add key="receivers" value="ting.lin@goldensmarthome.com.tw," />
    <add key="mailAccount" value="mpn.gsh@goldensmarthome.com.tw" />
    <add key="mailPassword" value="********" />
    <add key="mailSubject" value="Postman - Your verification Summary" />
    <add key="mailBody" value="Test report verification with Api by newman
         Please download the file in order to read more complete content." />

    <add key="dataSource" value="gshapp.database.windows.net" />
    <add key="initialCatalog" value="AppDB" />
    <add key="sqlUserId" value="tinglin" />
    <add key="sqlPassword" value="*******" />

  </appSettings>
</configuration>